<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/nav') %>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <header>
                        <h1>Change Password</h1>
                    </header>
                    <form action="?_method=PUT" method="POST">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" />
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" />
                        <button type="submit" class="btn">Update</button>
                        <a href="/edit" class="btn">Cancel</a>

                    </form>
                </div>
            </div>
        </div>
</body>