<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> 📚</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container">        <div class="container">
        <div class="card">
            <div class="card-content">
                <header>
        <% if (username) { %>
            <h1>User Logged In</h1>
            <h2>Welcome, <%= username %></h2>
            
        </header>
            <a href="/auth/logout" class="btn blue darken-1">Sign Out</a>
        <% } else { %>
            
        </header>
            <form action="/auth/login" method="POST">
              <label for="username">Username:</label>
              <input type="text" name="username" id="username" />
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" />
              <button type="submit" class="btn blue darken-1">Login</button>
              <a href="/auth/register" class="btn blue darken-1">Register</a>
            </form>
            <br>
            

        <% } %>
        <a href="/books" class="btn blue darken-1">Go to Books Page</a>
    </div>
</body>
</html>
